{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center py-5">Bienvenue</h1>

<div class="row">
    <div class="col-6">
        {% for category in categorys %}
            {% if category.category == null %}
                <div class="card text-center my-2">

                    <div class="card-header">
                    {#                        //#}
                        <h2>{{ category.categoryName }}</h2>
                        {#                        #}
                        <ul class="nav nav-tabs card-header-tabs">
                            {% for scategory in category.CategoryFK %}
                                <li class="nav-item ">
                                    <a class="nav-link active" href="#">{{ scategory.categoryName }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                        <div class="card-body d-flex bg-dark overflow-auto px-0">
                            {% for scategory in category.CategoryFK %}
                                {% for product in products %}
                                    {% if product.category == scategory %}
                                        <div class="card text-white bg-primary mx-2 my-2 px-0 overflow-auto col-4">
                                            <div class="card-header px-0"><h6 class="card-title mx-0">{{ product.productsReference }}</h6></div>
                                            <div class="card-body p-0">
                                                <img class="card-img img-fluid" src="http://placehold.it/150x150" alt="Card image">
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-6">

    </div>
</div>
{% endblock %}
