{% extends 'base.html.twig' %}

{% block title %}Edit FRProducts{% endblock %}

{% block body %}
    <h1>Edit FRProducts</h1>

    {{ include('f_r_products/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('f_r_products_index') }}">back to list</a>

    {{ include('f_r_products/_delete_form.html.twig') }}
{% endblock %}
