{% extends 'base.html.twig' %}

{% block title %}New FRProducts{% endblock %}

{% block body %}
    <h1>Create new FRProducts</h1>

    {{ include('f_r_products/_form.html.twig') }}

    <a href="{{ path('f_r_products_index') }}">back to list</a>
{% endblock %}
