{% extends 'base.html.twig' %}

{% block title %}Connexion/Inscription{% endblock %}

{% block body %}
    <h1 class="m-5 text-center">Connexion / Inscription</h1>
    <h1>Connexion</h1>
    <form action="{{ path('registration') }}" method="post">
        <div class="form-group">
            <input placeholder="Adresse Email" required name="_username" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion !</button>
            <a class="btn btn-success" href="{{ path('registration') }}" role="button">Retour à l'inscription</a>
        </div>
    </form>
{% endblock %}