{% extends 'base.html.twig' %}

{% block title %}Connexion/Inscription{% endblock %}

{% block body %}
    <h1 class="m-5 text-center">Connexion / Inscription</h1>

    <div class="container w-50">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Nouveau ?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile">Déjà inscrit ?</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content mt-5">
            <div class="tab-pane fade active show" id="home">
                <div class="d-flex justify-content-center">
                    {{ include('../s') }}

                </div>
            </div>
            <div class="tab-pane fade" id="profile">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation
                    +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                    craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                    ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
                    mollit.</p>
            </div>
        </div
    </div>

{% endblock %}