{% extends 'base.html.twig' %}

{% block title %}New FRPersonnes{% endblock %}

{% block body %}
    <h1>Create new FRPersonnes</h1>

    {{ include('personnes/_form.html.twig') }}

    <a href="{{ path('personnes_index') }}">back to list</a>
{% endblock %}
