{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div>
        <h1>Inscription</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success mb-3">Inscription !</button>
        <a class="btn btn-success mb-3" href="{{ path('login') }}" role="button">Déjà inscrit ?</a>
        {{ form_end(form) }}
    </div>

{% endblock %}


