{% extends 'base.html.twig' %}

{% block title %}Edit FRPersonnes{% endblock %}

{% block body %}
    <h1>Edit FRPersonnes</h1>

    {{ include('f_r_personnes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('f_r_personnes_index') }}">back to list</a>

    {{ include('f_r_personnes/_delete_form.html.twig') }}
{% endblock %}
